.main {
  padding-top: 32px;
  margin: 0 auto;
}

.main__text {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.25;
}

@media screen and (max-width: 375px) {
  .main__text {
    font-size: 16px;
  }
}
