.weather-card {
  min-height: 80px;
  border-radius: 12px;
  padding: 20px 16px;
  box-sizing: border-box;
  position: relative;
}

.weather-card .temp {
  font-size: 36px;
  line-height: 1.11;
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}

.weather-card img {
  min-height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  max-width: 100%;
  object-position: 100% 0;
  border-radius: 10px;
}
