.input {
  padding: 8px 0 4px;
  display: block;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
}

.label .required {
  color: #0000004d;
  padding-left: 8px;
}

.label .error-message {
  display: block;
  padding: 6px 0 15px;
  height: 12px;
  font-size: 12px;
  color: #c80000;
}

.input::placeholder {
  color: #00000080;
}
