.input {
  padding: 8px 0 4px;
  display: block;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
}

.input__error {
  display: block;
  padding: 6px 0 15px;
  height: 12px;
  font-size: 12px;
  color: #cc0000;
}

.modal__input::placeholder {
  color: #00000080;
}
