.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user .name {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.user .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
