.profile {
  padding-top: 58px;
  display: flex;
}

.profile .container {
  margin: 0 auto;
  max-width: 672px;
  width: min-content;
}

.profile .avatar {
  order: -1;
  width: 56px;
  height: 56px;
}

.profile h2 {
  font-family: 'CabinetGrotesk-Bold';
  font-size: 20px;
  line-height: 2;
  margin: 0 20px 0 0;
  display: inline-block;
}

.profile .user {
  margin-bottom: 16px;
}

.profile .cards {
  gap: 16px;
  justify-content: flex-start;
  min-width: 672px;
}

.profile .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 1000px) {
  .profile .cards {
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .profile .cards {
    min-width: 344px;
  }
}

@media screen and (max-width: 650px) {
  .profile .user {
    flex-direction: column;
    align-items: flex-start;
  }
}
