.footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.25;
  font-family: 'CabinetGrotesk-Medium';
  padding: 85px 0 24px;
}

.footer__year {
  margin: 0;
}

.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
